<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjlb.mdif.dao.RegionDao">
  <resultMap id="BaseResultMap" type="com.zjlb.mdif.entity.Region">
    <id column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
  </resultMap>
  <sql id="Base_Column_List">
    region_id, region_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_region
    where region_id = #{regionId,jdbcType=INTEGER}
  </select>
   <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_region
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_region
    where region_id = #{regionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjlb.mdif.entity.Region">
    insert into t_region (region_id, region_name)
    values (#{regionId,jdbcType=INTEGER}, #{regionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjlb.mdif.entity.Region">
    insert into t_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        region_id,
      </if>
      <if test="regionName != null">
        region_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlb.mdif.entity.Region">
    update t_region
    <set>
      <if test="regionName != null">
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
    </set>
    where region_id = #{regionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlb.mdif.entity.Region">
    update t_region
    set region_name = #{regionName,jdbcType=VARCHAR}
    where region_id = #{regionId,jdbcType=INTEGER}
  </update>
</mapper>